* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#homepage {
  width: 100%;
  height: 100vh;
  /* position: relative; */
}

#homepage #nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#homepage #nav h4 {
  font-size: 18px;
  font-weight: 800;
  margin-top: 6px;
}

#nav #rnav {
  display: flex;
  gap: 20px;
}

#nav #rnav a {
  text-decoration: none;
  color: rgb(42, 40, 40);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

#nav #rnav a:hover {
  transform: scale(1.15);
  font-weight: 800;
  color: #000;
  filter: brightness(1.3);
}

#nav #rnav button {
  padding: 5px 18px;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

#rnav button i {
  padding: 5px;
}

#rnav button:hover {
  transform: scale(1.05);
}

#homepage #text {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 23%;
  transform: translate(0%, -60%);
  text-align: center;
  z-index: 1;
}

#text h1 {
  font-weight: 600;
  font-size: 70px;
  letter-spacing: -1px;
}

#text h1 span {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/*  Hover effect with transform (no layout shift) */
#text h1 span:hover {
  transform: scale(1.2);
  font-weight: 900;
  filter: brightness(1.4);
  z-index: 2;
}

#text p {
  font-size: 20px;
  font-weight: 900;
}

/* p word-wise hover */
#text p span {
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

/* Hover effect for words in <p> */
#text p span:hover {
  transform: scale(1.2);
  font-weight: 800;
  filter: brightness(1.4);
  z-index: 1;
}

#text button {
  padding: 5px 18px;
  border-radius: 100px;
  background-color: black;
  color: white;
  margin-top: 10px;
  transition: all 0.3s ease;
  font-weight: 600;
}

#text button:nth-of-type(1) {
  border: 1px solid rgb(113, 110, 110);
}

/* Button hover effect (entire button) */
#text button:hover {
  transform: scale(1.05);
  background-color: #333;
  color: #fff;
}

#text button:nth-of-type(2) {
  background-color: white;
  color: black;
  border: 1px solid rgb(146, 139, 139);
  gap: 5px;
}

#text button:nth-of-type(2) i {
  margin-right: 5px;
}

#homepage img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#master {
  width: 100%;
  min-height: 100vh;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#master #mnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#master #mnav h4 {
  font-size: 18px;
  font-weight: 800;
}

#master #mnav #rnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#master #mnav #rnav a {
  text-decoration: none;
  color: rgb(42, 40, 40);
  font-weight: 600;
  transition: all 0.3s ease-in;
}

#master #mnav #rnav a:hover {
  transform: scale(1.15);
  font-weight: 800;
  color: #000;
  filter: brightness(1.3);
}

#master #mnav #rnav button {
  padding: 5px 7px;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease-in;
}

#master #mnav #rnav button:hover {
  transform: scale(1.05);
  background-color: #333;
  color: #fff;
}

#master #mtext h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 70px;
  margin-top: 30px;
  color: rgb(26, 161, 132);
  /* transition: all 0.3s ease;
  cursor: pointer; */
}

#master #mtext h1 span {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  gap: 10px;
}

#master #mtext h1 span:hover {
  transform: scale(1.2);
  font-weight: 900;
  filter: brightness(1.4);
  z-index: 999;
}

#master #mrect {
  width: 80%;
  height: 230px;
  display: flex;
  position: relative;
  margin-top: 50px;
}

#master #mrect .rectangle {
  width: 20%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 2px rgba(12, 12, 12, 0.3),
    /* right-bottom */ 0px 4px 5px 2px rgba(16, 16, 16, 0.3); /* left-bottom */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#master #mrect .rectangle:nth-of-type(1) {
  position: absolute;
  top: 0;
  transform: rotate(-9deg);
  background-image: url(https://i.pinimg.com/736x/72/35/bc/7235bc847636023ca3cdaa5beb5925cb.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(2) {
  position: absolute;
  top: -15%;
  left: 13%;
  transform: rotate(-7deg);
  background-image: url(https://i.pinimg.com/736x/e9/d8/8a/e9d88affab2a9abdfbeb181df97677bc.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(3) {
  position: absolute;
  top: -10.5%;
  left: 27%;
  transform: rotate(-3deg);
  background-image: url(https://i.pinimg.com/736x/92/b5/fb/92b5fbc281ae0ee116b03e844de98bad.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(4) {
  position: absolute;
  top: -9%;
  left: 39%;
  transform: rotate(1deg);
  background-image: url(https://i.pinimg.com/736x/bd/d6/22/bdd6222d2f6d91c8b50850c71040e14c.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(5) {
  position: absolute;
  top: -9%;
  left: 52%;
  transform: rotate(5deg);
  background-image: url(https://i.pinimg.com/736x/53/1a/e4/531ae41d5a79e7cf409cfca3a4aa4e9f.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(6) {
  position: absolute;
  top: -5%;
  left: 66%;
  transform: rotate(8deg);
  background-image: url(https://i.pinimg.com/736x/88/b7/3f/88b73ff7c53885b6b62a6e03fed603f9.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle:nth-of-type(7) {
  position: absolute;
  top: -2%;
  left: 80%;
  transform: rotate(12deg);
  background-image: url(https://i.pinimg.com/736x/3a/2e/8f/3a2e8f352fc55e3a1416f5eda99fe556.jpg);
  background-position: center;
  background-size: cover;
}

#master #mrect .rectangle .nickname {
  color: white;
  font-weight: 900;
  padding: 5px 10px;
  position: absolute;
  top: -20%;
  left: 20%;
  border-radius: 100px;
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#master #mrect .rectangle .nickname .dwar {
  /* width: 15px;
  height: 15px; */
  position: absolute;
  left: 35%;
  top: 95%;
  border: 12px solid green;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

#master #mrect .rectangle:nth-of-type(7) .nickname .dwar {
  border-top-color: orange;
  left: 53%;
  top: 98%;
}

#master #mrect .rectangle:nth-of-type(6) .nickname .dwar {
  border-top-color: rgb(80, 80, 231);
}

#master #mrect .rectangle:nth-of-type(5) .nickname .dwar {
  border-top-color: rgb(227, 80, 104);
}

#master #mrect .rectangle:nth-of-type(4) .nickname .dwar {
  border-top-color: rgb(203, 152, 55);
}

#master #mrect .rectangle:nth-of-type(3) .nickname .dwar {
  border-top-color: rgb(86, 10, 10);
}

#master #mrect .rectangle:nth-of-type(2) .nickname .dwar {
  border-top-color: blue;
}

#master #mrect .rectangle:nth-of-type(1) .nickname .dwar {
  border-top-color: red;
  left: 20%;
}

/* hover apply on rectangle */
#master #mrect .rectangle:nth-of-type(1):hover,
#master #mrect .rectangle:nth-of-type(2):hover,
#master #mrect .rectangle:nth-of-type(3):hover,
#master #mrect .rectangle:nth-of-type(4):hover,
#master #mrect .rectangle:nth-of-type(5):hover,
#master #mrect .rectangle:nth-of-type(6):hover,
#master #mrect .rectangle:nth-of-type(7):hover {
  width: 24%;
  height: 112%;
  z-index: 2;
}

#master #mrect .rectangle:nth-of-type(1):hover .nickname,
#master #mrect .rectangle:nth-of-type(2):hover .nickname,
#master #mrect .rectangle:nth-of-type(3):hover .nickname,
#master #mrect .rectangle:nth-of-type(4):hover .nickname,
#master #mrect .rectangle:nth-of-type(5):hover .nickname,
#master #mrect .rectangle:nth-of-type(6):hover .nickname,
#master #mrect .rectangle:nth-of-type(7):hover .nickname {
  opacity: 1;
  box-shadow: 0px 4px 5px 2px rgba(12, 12, 12, 0.3),
    /* right-bottom */ 0px 4px 5px 2px rgba(16, 16, 16, 0.3); /* left-bottom */
}

#master #mbtmtext {
  text-align: center;
  line-height: 19px;
  font-size: 20px;
}

#master #mbtmtext p:nth-of-type(2) {
  margin-bottom: 15px;
}

/*  Word-wise span hover effect */
#master #mbtmtext p span {
  display: inline-block;
  transition: all 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

#master #mbtmtext p span:hover {
  /* padding: 2px; */
  transform: scale(1.2);
  font-size: 25px;
  font-weight: 800;
  color: #28a745;
  filter: brightness(1.3);
}

/*  Button Base Style */
#master #mbtmtext button {
  margin-bottom: 12px;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

#master #mbtmtext button:nth-of-type(2) {
  background-color: #e3e3e3;
  color: black;
}

/*  Common Scale + Brightness */
#master #mbtmtext button:nth-of-type(1):hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  background-color: #cdc8c8;
  color: black;
  /* border: 1px solid black; */
}

#master #mbtmtext button:nth-of-type(2):hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  background-color: black;
  color: white;
}

/* spencer gabor */
#spencer {
  width: 100%;
  height: 100vh;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#spencer h1,
#spencer h4,
#spencer h5 {
  text-transform: uppercase;
}

#spencer #sptext h4:nth-of-type(2) {
  font-weight: 200;
  color: #d2c2c2;
}

#spencer #sptext h1 {
  font-size: 90px;
  margin-top: 30px;
}

#spencer #spimages {
  width: 40%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

#spencer #spimages .pic {
  width: 35%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0px 4px 5px 2px rgba(12, 12, 12, 0.3),
    /* right-bottom */ 0px 4px 5px 2px rgba(16, 16, 16, 0.3); /* left-bottom */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#spencer #spimages .pic:nth-of-type(1) {
  z-index: 1;
  transform: rotate(3deg);
  background-image: url(https://i.pinimg.com/736x/1b/a4/08/1ba4089fed09c21515d41b71608c2180.jpg);
  background-position: center;
  background-size: cover;
}

#spencer #spimages .pic:nth-of-type(2) {
  z-index: 2;
  top: -9%;
  left: 21%;
  transform: rotate(-2deg);
  background-image: url(https://i.pinimg.com/736x/d4/2f/d2/d42fd282c671971a100593470ffceaee.jpg);
  background-position: center;
  background-size: cover;
}

#spencer #spimages .pic:nth-of-type(3) {
  z-index: 3;
  top: 4%;
  left: 42%;
  transform: rotate(5deg);
  background-image: url(https://i.pinimg.com/736x/35/58/8b/35588bb04b1d6148919e3390ef6a114a.jpg);
  background-position: center;
  background-size: cover;
}

#spencer #spimages .pic:nth-of-type(4) {
  z-index: 4;
  top: -5%;
  left: 65%;
  transform: rotate(-3deg);
  background-image: url(https://i.pinimg.com/736x/c7/ec/d8/c7ecd897fcc2540d08153d9574c5ec50.jpg);
  background-position: center;
  background-size: cover;
}

#spencer #spimages .pic:hover {
  width: 44%;
  height: 120%;
  z-index: 10;
}

#spencer #spimages .pic .nam {
  border-radius: 100px;
  padding: 5px 10px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  color: white;
  font-weight: 900;
  position: absolute;
  top: -29%;
  left: 20%;
  opacity: 0;
}

#spencer #spimages .pic:hover .nam {
  opacity: 1;
  box-shadow: 0px 4px 5px 2px rgba(12, 12, 12, 0.3),
    /* right-bottom */ 0px 4px 5px 2px rgba(16, 16, 16, 0.3); /* left-bottom */
}

#spencer #spimages .pic .nam .dwar {
  position: absolute;
  left: 35%;
  top: 95%;
  border: 12px solid orange;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

#spencer #spbtmtext {
  width: 100%;
}

#spencer #spbtmtext h1:nth-of-type(2) {
  margin-bottom: 30px;
}

#spencer #spbtmtext h1:nth-of-type(1),
#spencer #spbtmtext h1:nth-of-type(2) {
  font-size: 90px;
  color: #d2c2c2;
}

#spencer #spbtmtext h5 {
  color: #d2c2c2;
  line-height: 2;
}

/* library page */
#library {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#library #ltext h1 {
  font-size: 70px;
}

#library #ltext p {
  font-size: 20px;
}

#library #ltext p:nth-of-type(1) img {
  width: 30px;
  height: 20px;
}

#library #ltext button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 100px;
}

#library #limages {
  width: 80%;
  height: 250px;
  position: relative;
  display: flex;
  margin-left: 4%;
}

#library #limages .limg {
  width: 25%;
  height: 100%;
}

#library #limages .limg1 {
  border-radius: 10px;
  transform: rotate(-13deg);
  position: absolute;
  z-index: 10;
  top: 50%;
  background-image: url(https://i.pinimg.com/736x/7c/91/bb/7c91bb1ddc92d373527768a8248f3d2f.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg2 {
  border-radius: 10px;
  transform: rotate(9deg);
  z-index: 9;
  position: absolute;
  left: 20%;
  top: 25%;
  background-image: url(https://i.pinimg.com/736x/5b/00/0d/5b000ddbf488b8865f387fd7441c9a9f.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg3 {
  border-radius: 10px;
  transform: rotate(-7deg);
  z-index: 8;
  position: absolute;
  left: 30%;
  top: 12%;
  background-image: url(https://i.pinimg.com/736x/16/47/18/164718a205ebb525e049b2093210139b.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg4 {
  border-radius: 10px;
  transform: rotate(7deg);
  z-index: 4;
  position: absolute;
  left: 45%;
  top: 25%;
  background-image: url(https://i.pinimg.com/736x/8f/1d/5b/8f1d5b4d6036cbf3e04b0abb8119f732.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg5 {
  border-radius: 10px;
  transform: rotate(17deg);
  z-index: 7;
  position: absolute;
  left: 65%;
  top: 60%;
  background-image: url(https://i.pinimg.com/736x/ba/98/74/ba9874f31c56940bebd8317c748c287e.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg6 {
  border-radius: 10px;
  transform: rotate(25deg);
  z-index: 3;
  position: absolute;
  left: 60%;
  top: 30%;
  background-image: url(https://i.pinimg.com/736x/fd/2d/c4/fd2dc4c476952370b8868baf65ec5c99.jpg);
  background-position: center;
  background-size: cover;
}

#library #limages .limg:hover {
  width: 30%;
  height: 125%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  top: -70%;
  z-index: 999;
}

/* trusted page */
#trusted {
  width: 100%;
  padding-top: 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trustedtext {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trustedtext h4 {
  opacity: 0.5;
}

#trustedtext h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -3px;
}

#trustedimage {
  width: 70%;
  height: 300px;
  margin-right: 100px;
  margin-top: 100px;
  display: flex;
  gap: 10px;
  position: relative;
}

#trustedimage .timg {
  width: 25%;
  height: 270px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#trustedimage .timg1 {
  position: absolute;
  top: 10%;
  left: 18%;
  transform: rotate(8deg);
  z-index: 1;
  color: white;
}

#trustedimage .timg2 {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: rotate(-7deg);
  z-index: 3;
}

#trustedimage .timg3 {
  position: absolute;
  top: -10%;
  left: 43%;
  transform: rotate(-7deg);
  z-index: 2;
  color: white;
}

#trustedimage .timg4 {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: rotate(7deg);
  z-index: 4;
}

#trustedimage .timg5 {
  position: absolute;
  top: 10%;
  left: 65%;
  transform: rotate(10deg);
  z-index: 0;
}

#trustedimage .timg1 i,
#trustedimage .timg2 i,
#trustedimage .timg5 i {
  color: rgb(192, 104, 192);
}

#trustedimage .timg .tline {
  width: 100%;
  height: 1px;
  background-color: black;
}

#trustedimage .timg:hover {
  width: 30%;
  height: 100%;
  transition: all 0.3s ease-in;
  z-index: 999;
}

#trustedimage .timg1:hover,
#trustedimage .timg3:hover,
#trustedimage .timg5:hover {
  top: -30%;
}

#trustedimage .timg2:hover,
#trustedimage .timg4:hover {
  top: 70%;
}
